body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f1f1f1;
}

nav ul {
    list-style-type: none;
    background-color:#183A1D;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 30px;
    display: block;
}

nav li {
    float: left;
} 

nav a:hover {
    background-color: white;
    color: #183A1D;
    border-bottom: 1px solid #183A1D;
}

article {
    margin: 5em auto 0;
    padding: 1em;
    font-size: 140%;
    max-width: 800px;
    background: white;
    box-shadow: rgba(0,0,0,.05) 5px 3px 15px;
}

article p {
    margin: 0;
    color: #333;
}

article p + p {
    margin-top: .7em;
}

footer{
    font-size: 11px;
}

.header-btn {
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

.barra {
    position: sticky;
    top: 0;
    box-shadow: rgba(0,0,0,.05) 0 3px 15px;
    width: 100%;
}