body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f1f1f1;
}

header h1{
    font-size: 400%;
    color: #E1EEDD;
    line-height: 1;
    padding-top: calc(40vh - 20pt);
    display: block;
    margin: 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    background-color:#d49b45;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 30px;
    display: block;
}

nav li {
    float: left;
} 

nav a:hover {
    background-color: white;
    color: #d49b45;
    border-bottom: 1px solid #d49b45;
}

article {
    margin: 1em auto 0;
    padding: 1.5em;
    font-size: 140%;
    max-width: 1200px;
    min-width: 700px;
    background: white;
    box-shadow: rgba(0,0,0,.05) 5px 3px 15px;
}

article p {
    margin: 0;
    color: #000000;
}

article p + p {
    margin-top: .7em;

}

footer{
    bottom: 0;
    font-size: 11px;
}

.header-btn {
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.barra {
    position: sticky;
    top: 80vh;
    box-shadow: rgba(0, 0, 0, 0.05) 0 3px 15px;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8b551;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content li {
    display: block;
    float: none;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
   
.pagina{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
    padding-top: 100px;
    padding-left: 7rem;
    padding-right: 300px;
    padding-bottom: 100px;
}

.sidebar{
    border-radius: 20px;
    border: 10px solid white;
    width: 350px;
    height: 600px;
    box-shadow: rgb(0, 0, 0) 5px 3px 15px;
    order: 2;

}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:600px;
    width:350px;
    border-radius: 10px;
}

img {
    height:400px;
    width:700px;
}

@media (max-width: 1000px){
    .sidebar{
        display: none;
    }
    .pagina{
        display: inline;          
    }
}

#rodape {
    bottom: 0;
    border: 1px solid #d49b45;
}

.imagens + p{
    margin-top: .7em;

}