body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f1f1f1;
}

header {
    text-align: center;
    background: linear-gradient(  rgba(21, 22, 21, 0.50),  rgba(21, 22, 21, 0.50)), no-repeat center/cover url(galeria_do_imigrante.png);
    padding: 60px;
    height: 80vh;
}

header h1 {
    font-size: 400%;
    color: #E1EEDD;
    line-height: 1;
    padding-top: calc(40vh - 20pt);
    display: block;
    margin: 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    background-color:#d49b45;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

nav li {
    float: left;
} 

nav a:hover {
    background-color: white;
    color: #d49b45;
}

article {
    margin: 2em auto 0;
    padding: 1em;
    font-size: 120%;
    max-width: 800px;
    background: white;
    box-shadow: rgba(0,0,0,.05) 5px 3px 15px;
}

article p {
    margin: 0;
    color: #333;
}

article p + p {
    margin-top: .7em;
}

footer{
    font-size: 11px;
}

.header-btn {
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.barra {
    position: sticky;
    top: 0;
    box-shadow: rgba(0,0,0,.05) 0 3px 15px;
    width: 100%;
}